<section class="bottom">
  <div class="container">
    <div class="bottom__heading">
      <h2 class="bottom__heading-title heading-h2">Powerful ideas & sales acceleration</h2>
      <p class="bottom__heading-subtitle text-p-large">We are a software development firm specializing in digital
        products. We build
        beautiful, functional and cross-platform solutions that are accessible to all.</p>
    </div>
    <div class="bottom__about">
      <h2 class="bottom__about-title heading-h2">Meet our team of creators, designers, and world-class <br> problem
        solvers</h2>
      <p class="bottom__about-text text-p-medium">To become the company that customers want, it takes a <br> group of
        passionate people.
        Get
        to know the people who lead</p>
      <div class="swiper bottom__slider">
        <div class="bottom__btns">
          <button class="bottom__btn bottom__btn--prev">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
                fill="#CED1D8" />
            </svg>
          </button>
          <button class="bottom__btn bottom__btn--next">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
                fill="#CED1D8" />
            </svg>
          </button>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/man_1.png" width="379"
              height="434" alt="Woman typing on laptop and wrting on a notebook" />
            <h3 class="bottom-article__subtitle text-p-medium">Founder & CEO</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/man_2.png" width="378"
              height="434" alt="Man typing on" />
            <h3 class="bottom-article__subtitle text-p-medium">Chief Technology Officer</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/woman_1.png" width="379"
              height="434" alt="Woman typing on laptop and wrting on a notebook" />
            <h3 class="bottom-article__subtitle text-p-medium">Chief Technology Officer</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/man_1.png" width="379"
              height="434" alt="Woman typing on laptop and wrting on a notebook" />
            <h3 class="bottom-article__subtitle text-p-medium">Founder & CEO</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/man_2.png" width="378"
              height="434" alt="Man typing on" />
            <h3 class="bottom-article__subtitle text-p-medium">Chief Technology Officer</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/woman_1.png" width="379"
              height="434" alt="Woman typing on laptop and wrting on a notebook" />
            <h3 class="bottom-article__subtitle text-p-medium">Chief Technology Officer</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/man_1.png" width="379"
              height="434" alt="Woman typing on laptop and wrting on a notebook" />
            <h3 class="bottom-article__subtitle text-p-medium">Founder & CEO</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img text-p-medium" src="./assets/image/about/man_2.png"
              width="378" height="434" alt="Man typing on" />
            <h3 class="bottom-article__subtitle">Chief Technology Officer</h3>
          </div>
          <div class="swiper-slide bottom__article">
            <img loading="lazy" class="bottom__article-img" src="./assets/image/about/woman_1.png" width="379"
              height="434" alt="Woman typing on laptop and wrting on a notebook" />
            <h3 class="bottom-article__subtitle text-p-medium">Chief Technology Officer</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom__under">
      <h2 class="bottom__under-title heading-h2">Join our team, The one with the master touch</h2>
      <p class="bottom__under-text text-p-medium">We believe it takes great people to make a great product. That’s why we hire not
        only the perfect professional fits, but people who embody our company values.</p>
    </div>
  </div>
</section>