.footer {
  padding: 112px 0 58px;
  color: #fff;
  background-color: var(--black-bg-color);

  @include mobile {
    padding-top: 62px;
  }

  // Верхняя часть футера
  &__head {
    @include flex-all-between;
    margin-bottom: 134px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 84px;
    }

    @include mobile {
      align-items: center;
      margin-bottom: 64px;
      text-align: center;
    }

    @include small-mobile {
      margin-bottom: 44px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    @include tablet {
      font-size: 54px;
    }

    @include mobile {
      font-size: 42px;
    }
  }

  &__descr {
    max-width: 543px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-50);
  }

  &__link {
    padding: 16px 32px;
    color: #1d1e25;
    background-color: #fff;
  }

  // Основное тело футера
  &__body {
    @include flex-all-between;
    margin-bottom: 56px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Навигация
  &__nav--desktop {
    display: flex; // По умолчанию показываем на десктопе

    @include mobile {
      display: none; // Скрываем на мобильных
    }
  }

  &__nav--mobile {
    display: none; // Скрыт на десктопе

    @include mobile {
      display: block; // Показываем на мобильных
    }
  }

  // Список футера
  &__list {
    display: flex;
    gap: 93px;

    @include mini-desktop {
      gap: 53px;
      justify-content: center;
    }

    @include tablet {
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;

    &-title {
      margin-bottom: 24px;
      font-weight: 700;
      cursor: pointer;

      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer; // Интерактивность на мобильных
      }
    }

    .footer__sublist {
      display: block; // На десктопе списки видимы

      @include mobile {
        display: none; // Прячем списки на мобильных
      }
    }

    &--active .footer__sublist {
      display: flex; // Открытие аккордеона на мобильных
      align-items: center;
      justify-content: center;  
      text-align: center;
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-link {
      position: relative;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: var(--neutral-color-150);
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  // Нижняя часть футера
  &__bottom {
    @include flex-all-between;
    gap: 20px 40px;
    flex-wrap: wrap;
    border-top: 1px solid var(--neutral-color-70);
    padding-top: 40px;

    @include tablet {
      justify-content: center;
    }

    &-lists {
      @include flex-align-center;
      gap: 72px;

      @include tablet {
        gap: 42px;
      }

      @include mobile {
        gap: 20px;
        flex-direction: column;
      }
    }

    &-list {
      display: flex;
      gap: 40px;

      @include tablet {
        gap: 20px;
      }

      @include small-mobile {
        gap: 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-link {
      position: relative;
      font-weight: 500;
      line-height: 143%;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__social {
    &-list {
      @include flex-align-center;
      gap: 24px;

      @include tablet {
        gap: 18px;
      }
    }

    &-link {
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__copyright {
    font-weight: 500;
    line-height: 143%;
    color: #fff;
  }
}
